@using Asp.NetMVC.Library
@using Asp.NetMVC.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomHelper</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <br />
        <br />
        @Html.Alert("alert1","info","Bu bir uyarıdır. Sayfada gezinirken asla kopyalama yapmayın!")
        <hr />

        @foreach (Message item in Model)
        {
            @Html.AlertFor(x=>item, new { title=item.Text,level=item.Level})
        }
    </div>
</body>
</html>
