@using Asp.NetMVC.Library
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomHelper</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <br />
        <br />
        @Html.Alert("alert1","danger","Bu bir uyarıdır. Sayfada gezinirken asla kopyalama yapmayın!")
    </div>
</body>
</html>
