
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelperMethod</title>
</head>
<body>
    <div> 
        @MyHelperMethod.Input("Button1","Button","Gönder")
    </div>
    <div>
        @MyHelperMethod.Table("Table1",3,3,"Ad", "Soyad", "Yaş")
    </div>
</body>
</html>
