
@{
    ViewBag.Title = "About2";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>About2</h2>

<p>Burada iç içe layout sayfaları yapılmıştır. Sayfanın ana Layout u değişmediği halde body kısmında ki layout değiştiriliyor.</p>