
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About</h2>

<a href="#">Yüz yılı aşkın tecrübeyle profesyonel bir işletme.</a><br />
<a href="#">Elliden fazla güler yüzlü çalışan. </a><br />
<a href="#">Memnuniyet ...</a><br />

