
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact</h2>
<hr />
<ul>
    <li>Telefon:0555555555</li>
    <li>Adres:İstanbul/Kadıköy</li>
    <li>Mail:ttt@mail.com</li>
</ul>
