
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>HomePage</h2>
<p>Yakında güzel günler gelecek...</p>
<p>Uzaklarda arama kendini, kapat gözlerini bak yeşil yeşil...</p>

