@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="block2" style="width:660px;">
    @RenderBody()
</div>

<div class="block2" style="float:right;">
    <h4>Yapmış olduğumuz çalışmalar</h4>
    <ul>
        <li>Kurumsal web siteleri</li>
        <li>Yazılım destek ekibi</li>
        <li>Eğitim destek sisteemleri</li>
    </ul>
</div>
