<h4>Bu sayfalara bakabilirsiniz.</h4>  @*Partial view ler aynı sayfadaki linklerin birden fazla kullanıldığı durumlarda kullanılabilir.*@
<hr />
<ul>
    <li><a href="#">Mvc</a></li>
    <li><a href="#">Yazılım Dünyası</a></li>
    <li><a href="#">Silikon Vadisi</a></li>
</ul>
